@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:200,900);

@font-face {
  font-family: Spantaran;
  src: url("/assets/fonts/Spantaran-GE2D.ttf");
}

body,
html {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #212121;
  cursor: url(assets/redCursor.png) 10 10, default;
}

h1 {
  font-family: Spantaran;
  padding-top: 1em;
  color: #fff;
  font-weight: 300;
  font-size: 7em;
  margin: 0;
}
h2 {
  font-size: 4em;
  padding-top: 0%;
}
h3 {
  padding-bottom: 0;
  margin-block-end: 0.2em;
  font-size: 2em;
  font-weight: 600;
}

/* ////////////////// */
/* Masthead */
.masthead {
  background-image: linear-gradient(#36405b, #212121);
  height: 100vh;
  width: 100%;
  position: relative;
}
.masthead-row {
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 100%;
}
.masthead-column-75 {
  /* Column for Logo, Title and subtitles */

  display: inline-block;
  text-align: left;
  flex: 60%;
  margin: 0;
  padding-left: 60px;
}
.masthead-logo {
  padding-top: 5%;
  padding-bottom: 0;
}
.masthead-subtitle {
  color: #fff;
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 43pt;
}
.masthead-subtitle2 {
  color: #ff938e;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 43pt;
}
/* Column for phone image*/
.masthead-column-25 {
  flex: 40%;
  vertical-align: middle;
  margin: auto;
}
.masthead-image {
  margin: auto;
  width: 50%;
  text-align: center;
}
.masthead-scroll-container {
  width: 100%;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 5vh;
}
.scroll-text {
  padding-bottom: 0.5%;
}

/* ////////////////// */
/* Cursor */
.circle {
  position: absolute;
  background-color: #fff;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

/* ////////////////// */
/* Main Features */
.main-features {
  height: 100vh;
  position: relative;
}
.title-section {
  color: #fff;
  font-size: 2.8em;
  font-weight: bold;
  padding: 50px 60px;
}
.hr1 {
  border-top: 2px solid #b7575a;
  width: 22.5%;
  padding-bottom: 10px;
}
.hr2 {
  border-top: 2px solid #b7575a;
  width: 18%;
}
.row-mainFT {
  display: flex;
  height: 85%;
}
.column-3 {
  color: white;
  flex: 33%;
  text-align: center;
  padding: 10% 0;
  margin: auto;
}
.features-font {
  margin-block-start: 0;
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
}

/* ////////////////// */
/* How it works? */
.how-it-works {
  position: relative;
}
.row {
  display: flex;
  height: 100vh;
}
#indent-row {
  padding-left: 13%;
  padding-right: 5%;
}
.column-2-45 {
  background: radial-gradient(circle, #ff948e72, #9198e500, #9198e500);
  flex: 40%;
  margin: auto;
  text-align: center;
  padding: 0 15%;
}
.column-2-55 {
  /* background-color: blue; */
  flex: 60%;
  margin: auto;
  padding-right: 10%;
}
.circleNum {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-color: #b7575a;
  border-style: solid;
  border-width: 4px;
  border-radius: 50%;
  font-size: 2em;
  color: #b7575a;
  text-align: center;
}

/* ////////////////// */
/* Download */
.download-section {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.download-content {
  text-align: center;
}
.download-title{
  margin-bottom: 0;

}
.download-text {
  font-family: Raleway;
  font-size: 2.5em;
  margin-top: 0;
}
